<div class='container'>
  <h1>Edit Product</h1>


  <div class='row'>
    <form action="/update/<%= @product.id %>" method='post'>
      <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token  %>">
      <div class="form-group">

          <label for="pricing">Category:</label>
          <select name="category_id">
              <option value="1">Electronics</option>
              <option value="2">Household</option>
              <option value="3">Gardening</option>
              <option value="4">Automotive</option>
              <option value="5">Ninjas</option>
          </select><hr>
        <label for="f_name">Name:</label>
        <input type="text" class="form-control" id="name" name='name' value="<%= @product['name']  %>">
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" name="description" value="<%= @product['description']  %>">
      </div>


      <div class="form-group">
        <label for="pricing">pricing:</label>
        <input type="pricing" class="form-control" id="pricing" name='pricing' value="<%= @product['pricing']  %>">
      </div>

      <button type="submit" class="btn btn-default"> Update Product</button>
    </form>

  </div>


  <div class='row'>
    <a href='/' class='btn btn-default'>back</a>
  </div>

</div>
